{% extends 'base.html.twig' %}

{% block title %}Edit Commercants{% endblock %}

{% block body %}
    <h1>Edit Commercants</h1>

    {{ include('commercants/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_commercants_index') }}">back to list</a>

    {{ include('commercants/_delete_form.html.twig') }}
{% endblock %}
